<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock News - ${symbol}</title>
    <style>
        .news-item {
            margin-bottom: 20px;
        }

        .press-name {
            font-weight: bold;
        }

        .news-title {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .description {
            margin-top: 5px;
            color: #777;
        }
    </style>
</head>
<body>
<h1>Stock News ${stock.symbol}</h1>
<div th:each="newsItem : ${newsItems}">
    <div class="news-item">
        <p class="press-name" th:text="${newsItem.pressName}"></p>
        <h3 class="news-title">
            <a th:href="${newsItem.url}" target="_blank" th:text="${newsItem.newsTitle}"></a>
        </h3>
        <p class="description" th:text="${newsItem.description}"></p>
    </div>
</div>
</body>
</html>
