<html layout:decorate="~{usr/layout/layout.html}" lang="kr" xmlns:layout="http://www.thymeleaf.org">
<div layout:fragment="content" class="flex items-center justify-center">
  <div class = "max-w-3xl w-full px-4">
  <h5 class="my-3 border-b pb-2">게시물 등록</h5>

  <form th:object="${questionForm}" method="post">
    <!--CSRF 값을 수동으로 추가-->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div th:replace="~{usr/board/form_errors :: formErrorsFragment}"></div>

    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input type="text"th:field="*{subject}" class="input input-bordered input-primary w-full max-w-2xl w-full " />
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea th:field="*{content}" class="textarea textarea-primary max-w-2xl w-full" rows="10"></textarea>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">카테고리</label>
      <select class="select select-primary w-full max-w-xs" th:field="*{category}">
        <option th:each="category : ${categoryList}" th:value="${category}" th:text="${category}"></option>
      </select>
    </div>

    <input type="submit" value="저장하기" class="btn btn-primary my-2">

  </form>
  </div>
</div>
</html>