<html th:lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class ="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto w-full px-4">
        <!--드롭다운 버튼 삭제-->
        <!--로고-->
        <div class="flex-none">
            <a href ="/" class="btn btn-ghost normal-case text-xl">10minDaily</a>
        </div>
        <!--메뉴 구성-->
        <div class="flex-grow-1">
            <ul class="menu menu-horizontal px-1">
                <li tabindex="0">
                    <a>
                        주식
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                    </a>
                    <ul class="p-2 bg-base-100">
                        <li><a th:href="@{/stocks/}">주식설명</a></li>
                        <li><a th:href="@{/stocks/add}">종목추가</a></li>
                    </ul>
                </li>
                <li tabindex="0">
                    <a>
                        코인
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                    </a>
                    <ul class="p-2 bg-base-100">
                        <li><li><a th:href="@{/coinNews/S1N1}">코인뉴스</a></li></li>
                    </ul>
                </li>

                <li tabindex="0">
                    <a>
                        게시판
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                    </a>
                    <ul class="p-2 bg-base-100">
                        <li><a th:href="@{/question/list}">전체게시판</a></li>
                        <li><a th:href="@{/question/stock/list}">주식게시판</a></li>
                        <li><a th:href="@{/question/coin/list}">코인게시판</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/rooms}">채팅방</a></li>
            </ul>
        </div>
        <!--검색창, 마이페이지-->
        <div class="flex-none gap-2">
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <i class="fa-solid fa-user content-center "></i>
                    </div>
                </label>

                <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                    <li th:if="${@rq.isLogin()}">
                        <a class="justify-between" href="/usr/member/myPage">
                            마이페이지
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li th:if="${@rq.isLogout()}"><a href="/usr/member/login">로그인</a></li>
                    <li th:if="${@rq.isLogin()}"><a href="javascript:" onclick="$(this).next().submit();">로그아웃</a>
                        <form class="!hidden" hidden th:action="|/usr/member/logout|" method="POST"></form></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>