<!DOCTYPE html>
<html th:lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" th:href="@{/css/login_style.css}">
    <title>로그인</title>
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">로그인</span>
                <form th:action="@{/usr/member/login}" method="post" onsubmit="LoginForm__submit(this); return false;">
                    <div class="input-field">
                        <input type="text"
                               class="text"
                               id="exampleFormControlInput3"
                               name="username"
                               placeholder="아이디" required/>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="password"
                               class="password"
                               id="exampleFormControlInput33"
                               name="password"
                               placeholder="비밀번호" required/>
                        <i class="uil uil-unlock-alt"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input
                                    type="checkbox"
                                    value=""
                                    id="exampleCheck3" checked />
                            <label for="exampleCheck3" class="text">아이디 기억하기</label>
                        </div>
                        <a href="/usr/member/findPassword" class="text">비밀번호를 잊으셨나요?</a>
                    </div>
                    <div class="social_login">
                        <p>OR</p>
                        <ul class="social_log">
                            <a href="/oauth2/authorization/kakao"
                               role="button"><li><img th:src="@{/images/kakao.png}" alt=""></li></a>
                            <a href="/oauth2/authorization/naver"
                               role="button"><li><img th:src="@{/images/naver.png}" alt=""></li></a>
                            <a  href="/oauth2/authorization/google"
                                role="button"><li><img th:src="@{/images/google.png}" alt=""></li></a>
                        </ul>
                    </div>
                    <div class="input-field button">
                        <input type="button" value="Login">
                    </div>
                </form>
                <div class="login-signup">
                        <span class="text">계정이 없으신가요?
                            <a href="/usr/member/join" class="text signup-link">회원가입</a>
                        </span>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/script.js}"></script>
    <script>
        function LoginForm__submit(form) {
            form.username.value = form.username.value.trim();

            if (form.username.value.length === 0) {
                alert('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                alert('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                form.password.focus();
                alert('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                alert('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>
</body>
</html>
